*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box1{
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 50px 200px 0 200px;
    position: fixed;
    background-color: black;
}
body{
background-color: rgb(17,17,19);
font-family: "Montserrat", sans-serif;
}

.pic1{
width: 100px;
height: 100px;
}
.link{
color: gray;
text-decoration: none;
padding-right: 15px;
}
.link:hover{
color:  rgb(157,255,18);
}
.WP{
color: rgb(157,255,18);
text-decoration: none;
}
.game{
width: 100px;
height: 100px;
}
.lk{
color: white;
}
.first{
width: 100vw;
height: 120vh;
display: grid;
grid-template-columns: 150px 550px 250px 250px;
grid-template-rows: 250px 400px 150px 100px;

}
.hamm{
    background: url(/pic3.webp);
    background-position: center top;
    background-repeat: no-repeat;
}
.maintittle{
grid-column: 2/2;
grid-row: 2/2;
color: white;


}
.tittle{
font-size: 60px;
font-weight: 400;


}
.t{
font-size: 15px;
padding-top: 25px;
font-weight: 400;
color: rgb(249, 249, 249);
}
.pic3{
margin-right: 10px;
}
.socials{
grid-column: 2/2;
grid-row: 3/3;
color: white;
display: flex;
justify-content: space-between;
}
.t2{
font-size: 15px;
font-weight: 400;
color: rgb(143, 143, 143);
margin-bottom: 10px ;
}
.right{
position: relative;  
}

.right::after{
content: "|";
color: rgb(143, 143, 143);
position: absolute;
right: -130px;

}
.box2{
width: 100vw;
height: 30vh;
background-color: rgb(37, 37, 37);
padding: 0 50px 0 50px;
display: flex;
justify-content: space-around;

}
.pic3{
text-decoration: none;
}

.pic4{
padding: 0 50px 0 50px;
width: 280px;
height: 80px;
}
.t3{
color: white;
}
.but{
color: white;
padding-top: 20px;
}
.but:hover{
color: rgb(157,255,18);
}
.col{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;

}
.t4{
color: rgb(143, 143, 143);
}
.box3{
width: 100vw;
height: 100vh; 
}
.t5{
font-size: 60px;
text-align: center;
color: white;
padding-top: 60px;
font-weight: 300;
}
.pic5{
width: 200px;
height: 200px;
padding-top: 30px;
}
.pic{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.texts{
display: flex;
justify-content: space-around;
align-items: center;

}
.left2{
color: white;
border-radius: 30px;
background-color:  rgba(50, 50, 50, 0.376);
padding: 25px;

}
.right2{
color: white;
border-radius: 30px;
background-color:  rgba(50, 50, 50, 0.376);
padding: 30px;
}
.t6{
color: rgb(157,255,18); 
}
.box4{
width: 100vw;
height: 80vh;
}
.box5{
width: 100vw;
height: 140vh;
}
.t8{
color: white;
font-size: 120px;
font-weight: 300;
text-align: center;
}
.t16{
color: rgb(143, 143, 143);
}
.container{
display: grid;
grid-template-columns: 300px 300px 300px;
grid-template-rows: 180px 180px 180px 180px;
gap: 30px;

}


.t9{
color: white;
}
.pic7{
grid-column: 2/2;
}
.pic8{
grid-column: 3/3;
}
.pic9{
grid-column: 4/4;
}
.t10{
grid-column: 2/2;
grid-row: 2/3;
}
.t11{
grid-column: 3/3;
grid-row: 2/3;
} 
.t12{
grid-column: 4/4;
grid-row: 2/3;
}
.pic10{
grid-column: 4/4;
grid-row: 3/4;
}
.pic11{
grid-column: 3/3;
grid-row: 3/3;
}
.pic12{
grid-column: 2/2;
grid-row: 3/3;
}
.t13{
grid-column: 4/4;
grid-row: 4/5;
}
.t14{
grid-column: 3/3;
grid-row: 4/5;
}
.t15{
grid-column: 2/2;
grid-row: 4/5;
}
.box6{
width: 100vw;
height: 40vh;
}
.t17{
color: white;
font-size: 40px;
font-weight: 300;
text-align: center;
}
.pic15{
width: 60px;
height: 60px;
}
.pic16{
width: 60px;
height: 60px;
}
.pic17{
width: 60px;
height: 60px;
}
.pic13{
display: flex;
justify-content: center;
align-items: center;

}
.t18{
height: 80px;
width: 100px;
color: white;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding-left: 20px;
padding-top: 15px;

}
.t19{
color: white;
padding-left: 20px;
padding-top: 15px;
}
.t20{
color: white;
padding-left: 20px;
padding-top: 15px;

}
.pic17{
padding-left: 20px;
}
.pic14{
display: flex;
}
.t21{
color: rgb(157,255,18);
display: flex;
justify-content: center;
align-items: center;
padding-top: 40px;
font-size: 20px;
}
.box7{
width: 100vw;
height: 270vh;
}
.t22{
color: white;
font-size: 50px;
font-weight: 300;
padding-top: 50px;
padding-left: 50px;
}
.t23{
color: white;
font-size: 15px;
font-weight: 300;
padding-top: 20px;
padding-left: 50px;
}
.t24{
color: rgb(157,255,18);
font-size: 30px;
}
.t25{
color: white;
}
.pic18{
width: 467px;
height: 300px;
}
.p1{
display: flex;
justify-content: center;
align-items: center;
gap: 50px;
margin-top: 50px;

}
.box8{
width: 100vw;
height: 100vh;
display: grid;
grid-template-columns: 10% 600px 20% 200px 10%;
grid-template-rows: 350px  200px;
}
.t26{
color: rgb(143, 143, 143);
font-size: 15px;
font-weight: 300;
}

.t27{
color: white;
font-size: 120px;
font-weight: 400;
}
.t28{
color: white;
font-weight: 300;
padding-top: 25px;
}
.link4{
margin-top: 20px;
background-color: rgba(50, 50, 50, 0.376);
color: rgb(157,255,18);
border-radius: 20px;
padding: 10px;
text-decoration: none;
font-size: 15px;
font-weight: 300;

}
.ci4{
text-align: center;
}
.pic20{
margin-bottom: 20px;
}
.t29{
color: rgb(157,255,18);
font-size: 30px; 
font-weight: 300;

}
.ci7{
display: flex;
justify-content: space-around;
grid-column: 2/6;
grid-row: 2/2;
padding: 15px;
}

.av{
width: 390px;
text-align: center;
}
.t30{
color: white;
font-size: 15px;
font-weight: 300;
padding-top: 15px;


}
.t31{
color: rgb(157,255,18);
font-size: 30px; 
font-weight: 300;
}
.t32{
color: white;
font-size: 15px;
font-weight: 300;
padding-top: 15px;
}
.t33{
color: rgb(157,255,18);
font-size: 30px; 
font-weight: 300;
}
.t34{
color: white;
font-size: 15px;
font-weight: 300;
padding-top: 15px;
}
.box9{
width: 100vw;
height: 70vh;
}
.tables{
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: row; 
padding-top: 25px;
}
.t35{
color: white;
font-size: 60px;
font-weight: 300;
padding-top: 40px;
padding-left: 30px;
}
.t36{
color: white;
font-size: 15px;
font-weight: 300;
padding-top: 20px;
padding-left: 30px;
}
.t37{
color: rgb(157,255,18);
font-size: 30px;
font-weight: 300;
padding-top: 20px;
padding-left: 30px;
}
.table{
color: white;
font-size: 17px;
font-weight: 300;

}
.table::before{
content: "-";
color: rgb(143, 143, 143);
font-size: 25px;
}
.spisok2{
list-style: none;
}
.box10{
width: 100vw;
height: 80vh;
background-color: rgb(30, 30, 30);
}
.t38{
color: white;
font-size: 100px;
font-weight: 300;
text-align: center;
}
.t39{
color: rgb(157,255,18);
}
.quater2{
border-radius: 15px;
border: 1px solid rgb(157,255,18);
width: 400px;
text-align: center;
padding: 15px;

}
.quater3{
text-align: center;
border-radius: 15px;
border: 1px solid rgb(143, 143, 143);
width: 400px;
padding: 15px;
}
.link5{
background-color: black;
color: white;
width: 435px;
height: 68px;
border-radius: 15px;
border: 1px solid white;
font-size: 30px;
font-weight: 300;
padding-left: 25px;
}
.but2{
background-color: rgb(157,255,18);
color: black;
font-weight: 300;
font-size: 25px;
width: 195px;
height: 68px;
border-radius: 15px;
border: none;

}
.email{
width: 100%;
height: 250px;
padding-top: 20px;
padding-left: 30px;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}
.but2:hover{
box-shadow: 0 0 40px 0 rgba(157,255,18,.44)

}
.t40{
color: white;
font-size: 15px;
font-weight: 300;
align-items: center;
padding-top: 15px;

}
.email2{
display: flex;
flex-direction: column;
height: 200px;
padding-top: 65px;
}
.box11{
width: 100vw;
height: 70vh;
background-image: url(/colors.webp);
display: flex;
justify-content: space-around;
}
.t41{
color: rgb(143, 143, 143);
font-size: 30px;
padding-top: 120px;
font-weight: 300;
padding-left: 30px;
}
.t42{
color: white;
font-size: 45px;
font-weight: 300;
padding-top: 20px;
padding-left: 30px;
}
.t43{
color:rgb(194, 192, 192);
font-size: 15px;
font-weight: 300;
padding-left: 30px;
padding-top: 20px;
gap: 10px;
}
.photos{
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}
.pic21{
display: flex;
justify-content: right;

}
.box12{
width: 100vw;
height: 80vh;
}
.t44{
color: white;
font-size: 40px;
font-weight: 300;
padding-left: 65px;
}
.t45{
color: white;
font-size: 15px;
font-weight: 300;
padding-left: 65px;
}
.team{
display: grid;
grid-template-columns: 250px 250px 250px 250px 250px 250px;
grid-template-rows: 180px 180px 180px;
padding: 0 25px 0 25px;
}
.pic22{
height: 173px;
width: 173px;
}
.t46{
color: white;
font-size: 20px;
font-weight: 300;
}
.t47{
color: rgb(157,255,18);
font-size: 15px;
font-weight: 300;
}
.teammate{
display: flex;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.box13{
width: 100vw;
height: 80vh;
display: flex;
justify-content: space-around;
align-items: center;
}
.t48{
color: white;
font-size: 50px;
font-weight: 300;

padding-left: 50px;
}
.t49{
color: rgb(194, 192, 192);
font-size: 20px;
font-weight: 300;
padding-left: 50px;
}
.email3{
padding-top: 10px;
color: rgb(157,255,18);
font-size: 20px;
padding-left: 50px;
}
details {
        cursor: pointer;
        color: white;
    }
    .second{
        
        list-style: none;
    }
    .second::before{
        content: "+";
        font-size: 40px;
        font-weight: bold;
        color: red;
    }
    details[open] second::before{
        content: "-";
    }
    .box14{
        width: 100vw;
        height: 55vh;
        display: flex;

    }
    .t50{
        color: white;
    }
    .t51{
       color: white;
       font-size: 40px;
       font-weight: 300;
       padding-left: 150px;
    }
    .t52{
        padding-top: 15px;
        color: rgb(143, 143, 143);
        padding-left: 150px;

    }
    .t53{
        padding-top: 15px;
        color: rgb(143, 143, 143);
        padding-left: 150px;
    }
    .first3{
        width: 50vw;
        height: 60vh;
    }
    .second2{
        width: 50vw;
        height: 60vh;
        display: grid;
        grid-template-columns: 25% 15% 18% 25% 25%;
        grid-template-rows: 120px 150px 60px 150px 150px 150px 150px 150px 150px 150px;
        
    }
    .tt54{
       
        color: white;
    }
    .t55{
        color: white;
        display: flex;
        flex-direction: column;
    }
    .t58{
        color: rgb(143, 143, 143);
        font-size: 15px;
        padding-top: 10px;
        text-decoration: none;
    }
    .t57{
        font-size: 20px;
    }
    .t59{
        color: rgb(143, 143, 143);
        font-size: 15px;
        padding-top: 10px;
        text-decoration: none; 
    }
    .t60{
        display: flex;
        flex-direction: column;
    }
    .t61{
        color: rgb(143, 143, 143);
        font-size: 15px;
        text-decoration: none; 
    }
    .t56{
        display: flex;
        flex-direction: column; 
    }
    .t62{
        font-size: 20px;
    }
    .t63{
        color: rgb(143, 143, 143);
        font-size: 15px;
        padding-top: 10px;
        text-decoration: none;  
    }
    .t62{
        grid-column: 2/5;
        grid-row: 3/3;
    }
    .t64{
        color: rgb(143, 143, 143);
        font-size: 30px;
        font-weight: 300;
    }
    .pic23{
        width: 32px;
        height: 32px;
    }
    .pic24{
        width: 32px;
        height: 32px;
    }
    .pic25{
        width: 32px;
        height: 32px;
    }
    .img2{
        height: 35vh;
        display: flex;
        justify-content: center;
        align-items: end;
        gap: 10px;
    }
    .t65{
        color: rgb(143, 143, 143);
        font-size: 10px;
        font-weight: 300; 
        text-align: center;
        padding-top: 10px;
    }
    .t58:hover{
        color: white;
    }
    .t59:hover{
        color: white;
    }
    .t63:hover{
        color: white;
    }
    .t61:hover{
        color: white;
    }
    @media (width)  () { 
        .box1{width: 50vw;}
        .menu{width: 650px;}
                
            }